<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/nav.ejs')%>
    <div class='top-div'>
        <h1>Alternate Armaments</h1>
        <form action="/armaments/new">
            <input type="submit" name="" value="Add Armament">
        </form>
    </div>
    
    <div class='card-container'>
        <%for(i=0;i< armaments.length;i++){%>
            <a href="/armaments/<%=armaments[i].id%>">
                <div class='card'>
                    <img src="<%=armaments[i].img%>" alt="<%=armaments[i].name%>">
                    <ul id='info'>
                        <li><%=armaments[i].name%></li>
                        <form action="/armaments/<%=armaments[i].id%>/edit">
                            <input type="submit" name="" value="Edit this Armament">
                        </form>
                        <!-- I am unsure what I did, but removing this a tag destroys my styling. Strange! -->
                        
                        <form action="/armaments/<%=armaments[i].id%>?_method=DELETE" method='POST'>
                            <input type="submit" name="" value="Annihilate Armament">
                        </form>
                        <a></a>
                    </ul>
                </div>
            </a>
        <%}%>
    </div>
    
        
</body>
</html>