<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/nav.ejs')%>
    <h1>Alternate Armaments</h1>
    <div class='card-container'>
        <%for(i=0;i< armaments.length;i++){%>
            <a href="/armaments/<%=armaments[i].id%>">
                <div class='card'>
                    <img src="<%=armaments[i].img%>" alt="<%=armaments[i].name%>">
                    <ul id='info'>
                        <li><%=armaments[i].name%></li>
                        <a href="/armaments/<%=armaments[i].id%>/edit">Edit this Armament</a>
                        <form action="/armaments/<%=armaments[i].id%>?_method=DELETE" method='POST'>
                            <input type="submit" name="" value="Annihilate Armament">
                        </form>
                    </ul>
                </div>
            </a>
        <%}%>
    </div>
    <form action="/armaments/new">
        <input type="submit" name="" value="Add Armament">
    </form>
        
</body>
</html>