<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <h1>SHOW!</h1>
    <div>
        <img src="<%=armament.img%>" alt="<%=armament.name%>">
        <h2><%=armament.name%></h2>
        <h5><%=armament.owner%></h5>
        <p><%=armament.description%></p>
        <p>Source: <%=armament.videoGame%></p>
    </div>
    <a href="/">Return to Index</a>
</body>
</html>