<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/nav.ejs')%>
    <h1>Armament Attributes</h1>
    <div class='show-div'>
        <img src="<%=armament.img%>" alt="<%=armament.name%>">
        <h2><%=armament.name%></h2>
        <h5>User: <%=armament.owner%></h5>
        <p><%=armament.description%></p>
        <p>Source: <%=armament.videoGame%></p>
        <p>Created By: <%=armament.creator%></p>
        <form action="/">
            <input type="submit" name="" value="Return to Index">
        </form>
    </div>
    
</body>
</html>