<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/nav.ejs')%>
    <h1><%=user.username%>'s Allied Armaments</h1>
    <div class='card-container'>
    <%for (i=0;i< user.arms.length;i++){%>
        <div class='card'>
            <img src="<%=user.arms[i].img%>" alt="<%=user.arms[i].name%>">
            <h2><%=user.arms[i].name%></h2>
            <h5>User: <%=user.arms[i].owner%></h5>
            <p><%=user.arms[i].description%></p>
            <p>Source: <%=user.arms[i].videoGame%></p>
            <form action="/users/<%=i%>?_method=PUT" method='POST'>
            <input type="submit" value="Remove Armament">
            </form>
        </div>
    <%}%>
    </div>  
    <form action="/armaments" method='POST' id='return'>
        <input type="submit" value='Return to Index'>
    </form>
    <%if (user.username == currentUser.username){%>
        <form action="/users/<%=i%>?_method=DELETE" method='POST'>
            <input type="submit" name="" value="DELETE USER">
        </form>
    <%}%>
</body>
</html>